<%include partials/head.ejs%>


<body>

    <%include partials/modals.ejs%>

    <header id="header" class="split-menu">

        <div id="header-wrap" style="background:#000000 ; height: 8em">

            <div class="container clearfix">

                <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                <!-- Logo
        ============================================= -->
                <div id="logo">
                    <%include partials/logo.ejs%>
                </div><!-- #logo end -->

                <!-- Primary Navigation
        ============================================= -->
                <nav id="primary-menu" class="with-arrows clearfix not-dark">

                    <%include partials/navitems.ejs%>

                </nav><!-- #primary-menu end -->

            </div>

        </div>

    </header><!-- #header end -->

    <section id="recruiter" class="mt-5" style="min-height: 100vh">
        <div class="container">

            <div class="heading-block noborder">
                <h1 class=''><%=business[0].company_name%></h1>
            </div>

            <h4><%=business[0].email%></h4>
            <h4><%=business[0].phone%></h4>
            <h4><%=business[0].country%></h4>
            <h4><%=business[0].city%></h4>
            <h4>Looking for <%=business[0].employees_number%> employees</h4>
            <h4>Ideal Barista - <%=business[0].ideal%> </h4>


            <% if(currentUser.is_business == 1) { %>
            <div id="editbtn" class="text-center">
                <a href="/business_<%=business[0].id%>/edit" type="submit"
                    style="width:15em; background-color:#cbccb9; color:black; float:right; border-radius: 20px"
                    class="button button-large  mb-5">Edit Details
                </a>
            </div>
            <%  }  %>


            <% if(currentUser.is_admin == 1) { %>

            <%if (business[0].premium == 1){ %>

            <div class="text-center" style="float:right;">
                <form style="margin:0" action="/deact_prem<%=business[0].id%>" method="POST">
                    <button type="submit" style="width:15em"
                        class="button button-large  mt-3">Disable
                        Premium</button>
                </form>
            </div>
            <% } else { %>

            <div class="text-center" style="float:right;">
                <form style="margin:0" action="/act_prem<%=business[0].id%>" method="POST">
                    <button type="submit" style="width:15em"
                        class="button button-large  mt-3">Activate
                        Premium</button>
                </form>
            </div>
            <%  }  %>

            <div class="text-center" style="float:right;" id="delbutton">
                <button type="button" style="width:15em" class="button button-large  mt-3">Delete
                    User
                </button>
            </div>
            <div id="confirmdel" class="text-center" style="display: none; float: right">
                <form style="margin:0" action="/delete<%=business[0].id%>" method="POST">
                    <button type="submit" style="width:15em"
                        class="button button-large  button-red mt-3 btn-danger">Confirm
                        Delete
                    </button>
                </form>
            </div>
            <% } %>

            <div class="line"></div>








            <h4>Candidate Results</h4>




            <section id="content" class="mb-5">

                <div class="content-wrap">

                    <div class="container clearfix">




                        <div class="table-responsive">
                            <table id="datatable1" class="table table-striped table-bordered" cellspacing="0"
                                width="100%">
                                <thead>
                                    <tr>
                                        <th>Initials</th>
                                        <th>City</th>
                                        <th>Current Position</th>
                                        <th>Previous Experience</th>
                                        <th>Speciality</th>
                                        <th>Profile</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% candidates.map(candidate => { %>
                                    <%  if(candidate.country === currentUser.country && candidate.profilecomplete == 1) { %>
                                    <tr>
                                        <td><%=candidate.fname[0].toUpperCase()%><%=candidate.lname[0].toUpperCase()%>
                                        </td>
                                        <td><%=candidate.city%></td>
                                        <td><%=candidate.position%></td>
                                        <td><%=candidate.previousex%></td>
                                        <td><%=candidate.speciality%></td>
                                        <td><a href="user_<%=candidate.id%>">View</td>
                                    </tr>
                                    <% } %>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>

            </section>

            </tbody>
            </table>
        </div>
        </div>
    </section>

    <script src="js/jquery.js"></script>

    <script>

        $(document).ready(function () {

            $(window).on('resize', function () {
                var win = $(this); //this = window
                if (win.width() <= 380) {
                    $('#changerforphone').addClass('gridchange')
                    $('#changerforphone').removeClass('col-md-9')
                } else {
                    $('#changerforphone').removeClass('gridchange')
                    $('#changerforphone').addClass('col-md-9')
                }

            });
            $("#delbutton").click(function () {
                console.log('hi')
                $("#delbutton").fadeOut(1500);
                $("#confirmdel").fadeIn(1500);

            });
        })



    </script>



</body>

<%include partials/scripts.ejs%>

<%include partials/footer.ejs%>